body
{
background-color:blueviolet
}

h1
{

    color:rgb(10, 14, 17);
    background-color:azure
}

#show_sketch
{
    float:right;
}

canvas
{
    border:5px solid whitesmoke;
    border-radius:20px;
    animation-name: Tin;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes Tin {
    from {box-shsadow: 1px 1px 38px grey;}
    to {box-shadow: 1px 1px 38px white;}
}

p
  {
    padding-top:10px;
    font-size:25px;

  }